
<ion-content>

  <ion-grid>
    <ion-searchbar (ionInput)="FilterElement($event)" [(ngModel)]="search" placeholder="Rechercher un produit" name ="Entrer le nom du produit" ></ion-searchbar>
    <ion-list style="padding: unset">
      <ion-item (click)="selectItem(a)" lines="none" *ngFor="let a of serviceProduit.nomProduitFilter">{{a}}</ion-item>
    </ion-list>
  </ion-grid>

  <ion-grid *ngIf="serviceProduit.produitList.length>0">
    <ion-card *ngFor="let c of serviceProduit.produitListTemp">
      <ion-row class="justify-content-center">
        <ion-col size="3">
          <ion-thumbnail>
            <img [src]="c.image">
          </ion-thumbnail>
        </ion-col>
        <ion-col size="5" class="text-center">
          <ion-row>
            <ion-label class="text-uppercase" color="secondary"><strong>{{c.nomProduit}}</strong></ion-label>
          </ion-row>
          <ion-row>
            Statut :
            <ion-label *ngIf="c.activeproduit" color="secondary"> Activé</ion-label>
            <ion-label *ngIf="!c.activeproduit" color="secondary"> Désactivé</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="4" class="text-end">
          <ion-col>
            <ion-icon size="large" color="primary" name="create-outline" (click)="showDetails(c)"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon size="large" color="secondary" name="close-outline" (click)="deleteProd(c)"></ion-icon>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
