<ion-content>
  <ion-card>
      <ion-list>
        <ion-row>
          <ion-col>
            <ion-label color="primary" class="text-start"><strong>Produits</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="primary" class="text-center"><strong>Total en stock</strong></ion-label>
          </ion-col>
          <ion-col>
            <ion-label color="primary" class="text-end"><strong>Stock Alert</strong></ion-label>
          </ion-col>
        </ion-row>
        <ion-row padding-top="3px" *ngFor="let p of this.serviceDash.stockAlertList">
          <ion-col>
            <ion-label class="ion-text-start"><strong>{{p.nomproduit}}</strong></ion-label>
          </ion-col>
          <ion-col style="padding-left: 25%">
            <ion-label class="ion-text-center"><strong>{{p.quantiteEnstock}}</strong></ion-label>
          </ion-col>
          <ion-col style="padding-left: 25%">
            <ion-label class="ion-text-end"><strong>{{p.quantiteAlerte}}</strong></ion-label>
          </ion-col>
        </ion-row>
        <ion-grid *ngIf="this.serviceDash.stockAlertList.length == 0" class="ion-text-center" >
          <img style="margin-top: 25%" src="./assets/images/empty.png" alt="Aucune alerte sur un produit">
          <ion-label color="primary">Aucune alerte sur un produit</ion-label>
        </ion-grid>
      </ion-list>
  </ion-card>
</ion-content>
