<ion-content>

  <div class="card-body">
    <div class="table-responsive" >
      <table class="table table-striped table-bordered">
        <tbody>
        <tr>
          <th>Produits</th>
          <th>Total en stock</th>
          <th>Stock Alert</th>
        </tr>

        <tr *ngFor="let p of this.serviceDash.stockAlertList">
          <td>{{p.nomproduit}}</td>
          <td>{{p.quantiteEnstock}}</td>
          <td>{{p.quantiteAlerte}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
