<ion-content>
  <br>
  <ion-label color="primary"><h2 class="text-center"><strong>Rapport Session de caisse</strong></h2></ion-label>
  <br>
  <ion-label color="secondary"><h2 class="text-center"><strong>{{cstemp.idcaissesession}}</strong></h2></ion-label>
  <ion-segment scrollable="true" swipeGesture="false" mode="md" class="ion-margin-bottom " (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="0">
      <ion-label>Rapport global</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Rapport des ventes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides class="slides-wrapper" #slider (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <ion-grid *ngIf="cstemp" style="margin-left: 5%">
        <ion-card class="card">
          <ion-row>
            <ion-col>
              <ion-label color="primary"><strong>Vendeur</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.nomuser}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Date ouverture</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.dateouverture | date:"yyyy-MM-dd HH:mm"}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Date Fermeture</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.datefermeture | date:"yyyy-MM-dd HH:mm"}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Montant Ouverture</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.montantinitial}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Montant Fermeture</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.montantphysique}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Montant des entrées</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.entree}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Montant des sorties</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.sortie}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Cash</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.cash}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Montant OM</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.om}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Montant MOMO</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.momo}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Solde</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.soldesession}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Difference</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.montantphysique - cstemp.soldesession}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <div class="text-center">
            <p class="text-danger" *ngIf="(cstemp.montantphysique - cstemp.soldesession)<0">Le Montant theorique est
              supérieur au montant de fermeture </p>

            <p class="text-danger" *ngIf="(cstemp.montantphysique - cstemp.soldesession)>0">Le Montant theorique est
              inférieur au montant de fermeture </p>
          </div>
        </ion-card>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="onPrint()" (keydown.enter)="onPrint()" color="primary" shape="round" type="submit">
              Imprimer
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="onDismiss()" (keydown.enter)="onDismiss()" color="light" shape="round" type="submit">
              Annuler
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <div class="card-body" id="rapport">
          <div class="row">
            <div class="col-sm">
              <h6 class="mb-0">Date ouverture</h6>
            </div>
            <div class="col-sm text-secondary">
              {{cstemp.dateouverture| date:'dd/MM/yyyy HH:mm'}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="mb-0">Caissier(e)</h6>
            </div>
            <div class="col text-secondary">
              {{cstemp.nomuser}}
            </div>
          </div>


          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Produit</th>
              <th scope="col">Qté vendue</th>
              <th scope="col">Qté restante</th>
              <th scope="col">Prix</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of cstemp.cartItems">
              <td>{{ c.description }}</td>
              <td>{{ c.produit.quantiteEnStock | number }}</td>
              <td>{{ c.quantite | number }}</td>
              <td>{{ c.montant| number }}<sup>Fcfa</sup></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Total</td>
              <td>{{ cstemp.totalvente| number }}<sup>Fcfa</sup></td>
            </tr>
            </tbody>
          </table>
        </div>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
