<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>MOT DE PASSE OUBLIE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="header">

    <img src="./assets/images/forgotpassword.png">

  </div>
  <form id="form" [formGroup]="registerForm" (ngSubmit)="requestPassword()">
    <p>Entrer votre email, vous recevrez un mail vous présentant la procédure pour réinitialiser votre mot de passe.</p>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="number" formControlName="email" placeholder="* Téléphone"></ion-input>
    </ion-item>
    <ion-button expand="block" [disabled]="is_loading==true"  class="ion-margin-top text-secondary" (keydown.enter)="requestPassword()"color="primary" shape="round" type="submit">
      Valider
      <ion-spinner name="lines" *ngIf="is_loading"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
