<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>MOT DE PASSE OUBLIE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="header">

    <img src="./assets/images/forgotpassword.png">

  </div>
  <form id="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <p align="justify">Entrer votre email, vous recevrez un mail vous présentant la procédure pour réinitialiser votre mot de passe.</p>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input formControlName="email" placeholder="* E-mail"></ion-input>
    </ion-item>
    <ion-text class="ion-text-left" color="danger" *ngIf="submittedRegister && !g.email.valid">
      <p class="error" >*E-mail doit être une adresse e-mail valides</p>
    </ion-text>
    <ion-button expand="block" class="ion-margin-top text-secondary" color="secondary" (keydown.enter)="requestPassword()" (click)="requestPassword()" color="primary" shape="round" type="submit">Envoyer</ion-button>
  </form>
</ion-content>
