
  <div class="mainboard">

    <div class="text-center">
      <img class="img-thumbnail align-content-center" src="./assets/images/forgotpassword.png" alt="forgot password" style="height: 150px; width: 150px"/>
    </div>

    <div class="ion-text-center text-uppercase" style="color: #0f5173">
      <h3><strong>MOT DE PASSE OUBLIE</strong></h3><br>
    </div>
    <div class="ion-text-left" style="margin-top: 8px">
      <p align="justify">Entrer votre email, vous recevrez un mail vous présentant la procédure pour réinitialiser votre mot de passe.</p>
    </div>
    <ion-item>
      <ion-label position="floating">Entrer votre email : </ion-label>
      <ion-input [(ngModel)]="email" type="text" required></ion-input>
    </ion-item>

    <ion-button (keydown.enter)="requestPassword()" (click)="requestPassword()" class="ion-margin-top text-secondary" color="secondary" type="submit" expand="block">
      Envoyer
    </ion-button>

    <ion-button routerLink="/home/login" class="ion-margin-top text-primary" color="primary" type="submit" expand="block">
      Annuler
    </ion-button>

  </div>
