<ion-content>
  <ion-grid>
    <ion-searchbar (ionInput)="FilterElement($event)" [(ngModel)]="search" placeholder="Rechercher un produit" name ="Entrer le nom du produit" ></ion-searchbar>
    <ion-list style="padding: unset">
      <ion-item (click)="selectItem(a)" lines="none" *ngFor="let a of serviceProduit.nomProduitFilter">{{a}}</ion-item>
    </ion-list>
  </ion-grid>

  <ion-grid *ngIf="serviceProduit.produitList.length>0">
    <ng-container *ngFor="let c of serviceProduit.produitListTemp">
      <ion-card *ngIf="c.nomProduit != 'Generique'">
        <ion-row class="justify-content-center">
          <ion-col size="2">
            <ion-thumbnail>
              <img [src]="c.image">
            </ion-thumbnail>
          </ion-col>
          <ion-col size="4" class="text-center">
            <ion-row>
              <ion-label color="secondary">{{c.nomProduit}}:{{ c.quantiteEnStock }}</ion-label>
            </ion-row>
            <ion-row>
              Statut :
              <ion-label  color="secondary"> {{c.activeproduit?'Activé':'Désactivé'}}</ion-label>
            </ion-row>
          </ion-col>
          <ion-col size="3" class="text-center">
            <ion-item>
              <ion-input type="number" [(ngModel)]="c.quantite_tempon"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-col>
              <ion-icon size="large" color="success" name="add-outline" (click)="addStock(c)"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon size="large" color="danger" name="remove-outline" (click)="removeStock(c)"></ion-icon>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
  </ion-grid>
</ion-content>
