<div class="wrapper rounded bg-white">
  <div class="row">
    <div class="col-md-4    col-sm-4    mb-3">
      <div class="card">
        <div class="px-2 red text-uppercase">new</div>
        <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-pleasures-helping-others-beautiful-transparent-plants-0.png" class="product" alt=""> </div> <b class="px-2">
        <p class="h4">The Little Botanical Haworthia</p>
      </b>
        <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
          <div class="px-lg-2 px-1"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <a href="#" class="px-lg-2 px-1 reviews">9</a> </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2 px-3">
          <div class="h4"><span>&#xa3;</span>10.99</div>
          <div> <button class="btn btn-dark text-uppercase"> buy now </button> </div>
        </div>
      </div>
    </div>
    <div class="col-md-4   offset-1 col-sm-4     ">
      <div class="card">
        <div class="px-2 red text-uppercase">new</div>
        <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plants-transparent-png-pictures-icons-and-png-14.png" class="product" alt=""> </div> <b class="px-2">
        <p class="h4">The Little Botanical Haworthia</p>
      </b>
        <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
          <div class="px-lg-2 px-1"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <a href="#" class="px-lg-2 px-1 reviews">9</a> </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2 px-3">
          <div class="h4"><span>&#xa3;</span>10.99</div>
          <div> <button class="btn btn-dark text-uppercase"> buy now </button> </div>
        </div>
      </div>
    </div>
    <div class="col-md-4   offset-1 col-sm-4     ">
      <div class="card">
        <div class="px-2 red text-uppercase">new</div>
        <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-plants-png-transparent-images-png-only-27.png" class="product" alt=""> </div> <b class="px-2">
        <p class="h4">The Little Botanical Haworthia</p>
      </b>
        <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
          <div class="px-lg-2 px-1"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <a href="#" class="px-lg-2 px-1 reviews">9</a> </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2 px-3">
          <div class="h4"><span>&#xa3;</span>10.99</div>
          <div> <button class="btn btn-dark text-uppercase"> buy now </button> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-sm-2 px-0 pt-3">
    <div class="col-md-4  offset-sm-2 offset-1 col-sm-4    mb-3">
      <div class="card">
        <div class="px-2 red text-uppercase">new</div>
        <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-pleasures-helping-others-beautiful-transparent-plants-0.png" class="product" alt=""> </div> <b class="px-2">
        <p class="h4">The Little Botanical Haworthia</p>
      </b>
        <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
          <div class="px-lg-2 px-1"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <a href="#" class="px-lg-2 px-1 reviews">9</a> </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2 px-3">
          <div class="h4"><span>&#xa3;</span>10.99</div>
          <div> <button class="btn btn-dark text-uppercase"> buy now </button> </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
      <div class="card">
        <div class="px-2 red text-uppercase">new</div>
        <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plants-transparent-png-pictures-icons-and-png-14.png" class="product" alt=""> </div> <b class="px-2">
        <p class="h4">The Little Botanical Haworthia</p>
      </b>
        <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
          <div class="px-lg-2 px-1"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <a href="#" class="px-lg-2 px-1 reviews">9</a> </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2 px-3">
          <div class="h4"><span>&#xa3;</span>10.99</div>
          <div> <button class="btn btn-dark text-uppercase"> buy now </button> </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 my-md-0 my-3">
      <div class="card">
        <div class="px-2 red text-uppercase">new</div>
        <div class="d-flex justify-content-center"> <img src="https://www.freepnglogos.com/uploads/plant-png/plant-png-plants-png-transparent-images-png-only-27.png" class="product" alt=""> </div> <b class="px-2">
        <p class="h4">The Little Botanical Haworthia</p>
      </b>
        <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
          <div class="px-lg-2 px-1"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <a href="#" class="px-lg-2 px-1 reviews">9</a> </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2 px-3">
          <div class="h4"><span>&#xa3;</span>10.99</div>
          <div> <button class="btn btn-dark text-uppercase"> buy now </button> </div>
        </div>
      </div>
    </div>
  </div>
</div>
