<ion-content>
  <ion-segment scrollable="true" swipeGesture="false" mode="md" class="ion-margin-bottom " (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="0">
      <ion-label>Vente en cours</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Vente terminer</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides class="slides-wrapper" #slider (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <app-commandeencours></app-commandeencours>
    </ion-slide>
    <ion-slide>
      <app-commandeterminer></app-commandeterminer>
    </ion-slide>
  </ion-slides>
</ion-content>
