<ion-content>
  <ion-card>
    <ion-card-header slot="end">
      <ion-icon  (click)="closepaiement()" name="close-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <h5 class="card-title "><b>{{commande.modepayement}}</b></h5>
      <p class="card-text ">{{commande.message}}</p>
    </ion-card-content>
    <ion-card-subtitle class="text-center">
      <ion-button type="button" (click)="getstatus(commande)">Continuer</ion-button>
    </ion-card-subtitle>
  </ion-card>
</ion-content>
