<div class="modal-header ">
  <h4 class="modal-title pull-left">Information</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closepaiement(facture)">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex justify-content-center">
    <div class="card border-0 ">
      <div class="card-body">
        <h5 class="card-title "><b>{{caissedto.commande.modepayement}}</b></h5>
        <p class="card-text ">{{caissedto.commande.message}}</p>
        <button type="button" (click)="getstatus(caissedto.commande)"
                class="btn btn-primary">Continuer
        </button>
      </div>
    </div>
  </div>
</div>
