<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>A propos de nous</ion-title>
    <ion-avatar slot="end">
      <img
        src="/assets/icon/favicon.png"
        alt="Digishop logo">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-justify">
    <h2>A PROPOS</h2>
    <ion-label>
      DIGISHOP est une solution de Commerce de détails en ligne et en boutique. Nous fournissons une combinaison
      de service en ligne et de services de point de vente présentée sous forme de fédération de boutiques ayant
      chacune un fonctionnement indépendant.
    </ion-label>

    <h2>NOTRE CIBLE</h2>
    <ion-label>
      La solution est faite pour les boutiques de toutes industries (mode, quincaillerie, alimentaire, matériels
      électroniques, etc) avec un accent particulier sur les petits commerces qui n’ont pas la capacité et les
      moyens d’acquérir et d’exploiter les logiciels standard du marché.
    </ion-label>

    <h2>NOS MISSIONS</h2>
    <ion-label>
      <ul>
        <li>Permettre au promoteur de gérer toute sa boutique à travers la solution: facturation, suivi de la
          caisse, suivi des commandes et de livraisons et reporting des activités.
        </li>
        <li>Donner la possibilité aux promoteurs à travers une connexion internet normal et une souscription
          mensuelle/trimestrielle/annuelle, d’éviter des investissements en infrastructure informatique et
          assurer une haute disponibilité des services tant au client en ligne qu’au vendeur.
        </li>
        <li>Donner au client l’accès à sa boutique préférée et la possibilité d’interagir avec un agent de la
          boutique dans la continuité des relations personnelles existantes et pour une éventuelle négociation
          de prix.
        </li>
        <li>Faciliter la tâche au client à travers le service en ligne, paiement en ligne et la livraison à
          l’adresse de son choix.
        </li>
        <li>Offrir un large choix au client grâce à l’accès à un ensemble de boutiques.</li>
      </ul>
    </ion-label>

    <h2>NOTRE VISION</h2>
    <ion-label>
      Nous voulons apporter une valeur indiscutable à la gestion complète de votre boutique partout où vous vous
      trouver.
    </ion-label>

    <h2>PRIX</h2>
    <ion-label>
      Il existe les packages suivants payable sur une base mensuelle, trimestrielle ou annuelle :
      <ul>
        <li>Base,</li>
        <li>Premium (Inclus les campagnes marketing et promotions),</li>
        <li>+ Options (Inclues les terminaux de caisses)</li>
      </ul>
    </ion-label>

    <h2>NEWSLETTER</h2>
    <ion-label>
      Inscrivez-vous maintenant pour obtenir des mises à jour sur les récentes boutiques enregistrées sur la
      plateforme, les arrivages et les promotions, les nouvelles fonctionnalitées pour mieux vous servir.
    </ion-label>

    <h2>NOUS CONTACTER</h2>
    <ion-label>
      <ion-item lines="none">
        <ion-icon (click)="socialService.callnumber('+237 233477277')" style="margin-left: 5%"
                  name="call-outline" color="success"></ion-icon>
        <ion-label style="margin-left: 5%">2 33 47 72 77</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon class="email" style="margin-left: 5%" name="mail-outline"></ion-icon>
        <ion-label style="margin-left: 5%">contact@digiplus-cm.com</ion-label>
      </ion-item>
    </ion-label>

    <h2>SUIVEZ NOUS</h2>
    <ion-label>
      <ion-item lines="none">
        <ion-icon class="whatsapp" style="margin-left: 5%" name="logo-whatsapp"></ion-icon>
        <ion-label style="margin-left: 5%">+ 237 6 72 68 72 14</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon class="facebook" style="margin-left: 5%" name="logo-facebook"></ion-icon>
        <ion-label style="margin-left: 5%">facebook.com/digishop237</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon class="twitter" style="margin-left: 5%" name="logo-twitter"></ion-icon>
        <ion-label style="margin-left: 5%">twitter.com/digishop237</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon class="ling" name="logo-linkedin"></ion-icon>
        <ion-label style="margin-left: 5%">linkedin.com/digishop237</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon class="instagram" name="logo-instagram"></ion-icon>
        <ion-label style="margin-left: 5%">instagram.com/digishop237</ion-label>
      </ion-item>
    </ion-label>

  </div>
</ion-content>
