<ion-header>
  <ion-item class="itemheader" lines="none">
    <ion-icon (click)="goBack()" slot="start" size="large" color="primary" name="arrow-undo-outline"></ion-icon>
    <ion-icon *ngIf="testMore" (click)="getMore()" slot="end" size="large" color="primary" name="ellipsis-horizontal-outline"></ion-icon>
  </ion-item>
  <div class="text-center">
    <img *ngIf="prodList.length<1" class="text-center" src="./assets/images/empty.png" alt="empty" style="width: 200px; height: 80px">
  </div>
  <ion-slides [options]="slideopts">
    <ion-slide *ngFor="let p of prodList">
      <ion-card class="box" (click)="addPanier(p)">
        <img [src]="p.image" [alt]="p.nomProduit" style="width: 200px; height: 80px">
        <hr>
        <ion-card-subtitle>
          <ion-label class="text-center">{{p.nomProduit}}</ion-label><br>
          <ion-label class="text-center text-danger"><b>{{p.prixProduit}}</b></ion-label>
        </ion-card-subtitle>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-header>
<ion-content>
  <div *ngIf="cartTemp.cartItems.length>0">
    <ion-card *ngFor="let pr of cartTemp.cartItems">
      <ion-card-content >
        <ion-row>
          <ion-col>
            <ion-thumbnail>
              <img [src]="pr.produit.image">
            </ion-thumbnail>
          </ion-col>
          <ion-col size="7">
            <ion-row>
              <ion-label color="primary">
                <h3><strong>{{pr.description}}</strong></h3>
              </ion-label>
            </ion-row>
            <ion-row>
              <ion-col size="3" class="ion-justify-content-center">
                Prix :
              </ion-col>
              <ion-col size="4">
                <ion-label>
                  <ion-input style="--background : #F2F2F2;" type="text" (keydown.enter)="changePrix(pr)" [(ngModel)] = "pr.prixunitaire"></ion-input>
                </ion-label>
              </ion-col>
              <ion-col size="5">
                <ion-label>
                  <p class="text-center">Total : <strong class="text-danger">{{pr.montant}}</strong></p>
                </ion-label>
              </ion-col>
            </ion-row>

          </ion-col>
          <ion-col>
            <ion-row class="ion-justify-content-center">
              <ion-icon size="large" (click)="addQuantite(pr)" name="chevron-up-outline"></ion-icon>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-label color="danger">{{pr.quantite}}</ion-label>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-icon size="large" (click)="RemoveQuantie(pr)" name="chevron-down-outline"></ion-icon>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-icon class="ion-justify-content-center" color="danger" (click)="DeleteItem(pr)" name="trash-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-item class="footer" lines = "none">
    <ion-button (click)="clearPanier()" color="secondary" expand="block" *ngIf="cartTemp.cartItems.length>0">x Vider</ion-button>
    <ion-button color="light" expand="block">{{cartTemp.montanttotal}} FCFA</ion-button>
    <ion-button (click)="payer()" color="primary" expand="block">Payer ></ion-button>
  </ion-item>
</ion-footer>
