<ion-content>
  <ion-row>
    <ion-col class="col-10">
      <ion-label color="primary"><h2 class="text-center"><strong>Vérification session</strong></h2></ion-label>
    </ion-col>
    <ion-col class="col-2 ion-text-end">
      <ion-icon name="close" color="secondary" (click)="onDismiss()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <div *ngIf="checkRetour.length>0">
      <p>{{checkRetour.length==1?"Merci de demander à l'utilisateur de fermer sa caisse" :"Merci de demander aux utilisateurs suivant de fermer leurs caisses"}}</p>
      <label *ngFor="let c of checkRetour">{{c}}</label>
    </div>
  </ion-row>
</ion-content>
