ion-toolbar {
  --background: #0f5173;
  ion-buttons, ion-title, ion-label, ion-icon {
    color: white;
  }
}

ion-label, ion-icon {
  margin-right: 5px;
}
.content {
  margin : 5% 5% 5%;

}
ion-grid{
  width: 80%;
}
ion-button{
  margin-top: 20px;
  height: 48px;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.05);
}

ion-item {
  --background: #f5f5f3;
}
.card-body{
  .row{
    font-size: 10px;
  }
}
td,tr{
  font-size: 10px;
}
