<ion-menu contentId="main">
  <ion-content>
    <div class="menu-header-bg">Menu</div>
    <div class="header-content">
      <img [src]="authenservice.utilisateur.photouser?authenservice.utilisateur.photouser:'assets/img/users.png'">
      <ion-label>
        <h2>{{authenservice.utilisateur.username}}</h2>
        <p>{{authenservice.utilisateur.email}}</p>
      </ion-label>
    </div>
    <!--  <div class="action-button">
        <ion-button ></ion-button>
      </div>-->
    <ion-menu-toggle lines="none" class="menu-item" >
      <ion-item  *ngFor="let m of menu" button (click)="onMenuAction(m)" [class]="m.status">
        <ion-icon [color]="m.status=='active'?'warning':'primary'" [name]="m.icon"></ion-icon><ion-label [color]="m.status=='active'?'warning':'primary'" >{{m.title}}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main" main></ion-router-outlet>
