*{
  font-family: lato;
}

.menu-header-bg{
  height: 180px;
  width: 350px;
  background: var(--ion-color-primary);
  background: linear-gradient(90deg,var(--ion-color-primary) 0%,var(--ion-color-primary) 100%);
  box-shadow: 0px 1px 10px rgba(98,140,255,0.5);
  border-radius: 10px 10px 10px 50px;
  transform: rotate(-15deg);
  margin: -50px 0 60px -18px;
}
.header-content{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #0d4765;
    margin-right: 14px;
  }
  h2{
    font-weight: 300;
    color: #fff;
  }
  p{
    font-size: 12px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}

.action-button{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  ion-button{
    text-transform: capitalize;
    font-weight: 300;
    --background: var(--ion-color-primary);
    --border-radius: 7px;
    --box-shadow: none;
  }
  ion-icon{

    margin-right: 1px;
  }
}
.menu-item{
  margin: 0;
  ion-icon{
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
    color: #86979f;
  }
  ion-item{
    padding-left: 20px;
    margin-bottom: 10px;
    --background: transparent;
  }
  .active{
    border-left: 5px solid;
    color: var(--ion-color-warning);
    padding-left: 15px;

    ion-icon{
      color: var(--ion-color-primary);
    }
  }

}
ion-content{
  --background: #f5f5f3;
}
