<ion-content> <!--style="&#45;&#45;background : #ebebeb"-->
    <div class="img-fluid text-center">
      <img style="width: 45%; height: 35%; margin-top: 15%; object-fit: contain" src="./assets/icon/favicon.png" alt=""/>
    </div>
  <div>
    <img style="height: 150px; width: 100%" src="./assets/images/shopping-online.jpg" alt=""/>
  </div>
  <div class="buttons" style="margin-top: 20%; margin-left: 12%; margin-right: 12%">
    <ion-button (click)="navigate(1)" class="ion-margin-top" color="secondary" type="submit" expand="block">
      S' inscrire
    </ion-button>

    <ion-button (click)="navigate(2)"  class="ion-margin-top" color="primary" type="submit" expand="block">
      Se connecter
    </ion-button>
  </div>
</ion-content>
