<ion-content>
  <ion-row>
    <ion-col class="col-10">
      <ion-label color="primary"><h2 class="text-center"><strong>Rapport fermeture</strong></h2></ion-label>
    </ion-col>
    <ion-col class="col-2 ion-text-end">
      <ion-icon name="close" color="secondary" (click)="onDismiss()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-label color="secondary"><h2 class="text-center"><strong>{{cstemp.reference}}</strong></h2></ion-label>
  <ion-segment scrollable="true" swipeGesture="false" mode="md" class="ion-margin-bottom " (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="0">
      <ion-label>Rapport global</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>Rapport des ventes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides class="slides-wrapper" #slider (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <ion-grid *ngIf="cstemp" style="margin-left: 5%">
        <ion-card class="card">
          <ion-row>
            <ion-col>
              <ion-label><strong>Date Fermeture</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.datefermeture | date:"yyyy-MM-dd HH:mm"}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Caissier(e)</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.reference}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Entrées</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.entree}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Sorties</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.sortie}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>MTN Money</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.momo}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Cash</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.cash}}</strong></ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label><strong>Orange Money</strong></ion-label>
            </ion-col>
            <ion-col>
              <ion-label><strong>{{cstemp.om}}</strong></ion-label>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="onPrint()" (keydown.enter)="onPrint()" color="primary" shape="round" type="submit">
              Imprimer
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="onDismiss()" (keydown.enter)="onDismiss()" color="light" shape="round" type="submit">
              Annuler
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <div class="card-body" id="rapport">
          <div class="row">
            <div class="col-sm">
              <h6 class="mb-0">Date fermeture</h6>
            </div>
            <div class="col-sm text-secondary">
              {{cstemp.datefermeture| date:'dd/MM/yyyy HH:mm'}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="mb-0">Caissier(e)</h6>
            </div>
            <div class="col text-secondary">
              {{cstemp.reference}}
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped" id="excel-table">
              <thead>
              <tr>
                <th scope="col">External ID</th>
                <th scope="col">Customer</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">MEMO</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">Tax Code</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let c of cstemp.itemsessionfermerglobales">
                <td>{{boutiqueService.boutique.referenceexterne}}</td>
                <td class="text-center">{{boutiqueService.boutique.nomBoutique}}</td>
                <td>{{c.date | date:"d/M/yyyy HH:mm"}}</td>
                <td class="text-center">{{boutiqueService.boutique.region}}</td>
                <td class="text-center">MEMO</td>
                <td>{{c.description}}</td>
                <td class="text-center">{{c.quantite}}</td>
                <td class="text-center">{{c.montant}}</td>
                <td class="text-center">VAT_CM:TVA 19.25%</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ cstemp.totalvente| number }}<sup>Fcfa</sup></td>
              </tr>
              </tbody>
            </table>
          </div>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="exportexcel()" color="success" shape="round" type="submit">
                Excel
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="exportCSV()" color="secondary" shape="round" type="submit">
                CSV
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="onDismiss()" (keydown.enter)="onDismiss()" color="light" shape="round" type="submit">
                Annuler
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
