<ion-content>

  <ion-grid id="form">
      <h5 class="text-center" style="color: #0f5173"><strong>OUVERTURE DE CAISSE</strong></h5>

    <div class="text-center">
      <img class="img-thumbnail" src="./assets/images/opensource.png" style="height: 150px; width: 150px; margin-bottom: 5%">
    </div>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input [(ngModel)]="montant" placeholder="Montant d'ouverture" type="number" required></ion-input>
      <ion-icon slot="end" color="primary" name="cash-outline"></ion-icon>
    </ion-item>


    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input [(ngModel)]="commentaire" type="text" placeholder="Commentaire" required></ion-input>
      <ion-icon slot="end" color="primary" name="information-outline"></ion-icon>
    </ion-item>

    <ion-button expand="block" [disabled]="is_loading==true" (click)="onAction()" (keydown.enter)="onAction()" color="primary" shape="round" type="submit">
      Valider
      <div *ngIf="is_loading"><ion-spinner name="lines"></ion-spinner></div>
    </ion-button>

  </ion-grid>
</ion-content>
