<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons (click)="closeM()" style="margin-left: 5px" slot="start">
      <ion-icon color="primary" name="close"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">Informations</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="takePicture()">
        <ion-icon  name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img [src]="vendeur.photouser?vendeur.photouser:'assets/img/users.png'">
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-grid>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input [(ngModel)]="vendeur.username" required  type="text" placeholder="Pseudo *"></ion-input>
    </ion-item>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input [(ngModel)]="vendeur.nomcomplet" required  type="text" placeholder="Nom complet *"></ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="email" [(ngModel)]="vendeur.email" required placeholder=" E-mail *"></ion-input>
    </ion-item>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="text" [(ngModel)]="vendeur.cni" required placeholder=" CNI *"></ion-input>
    </ion-item>

    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="number" [(ngModel)]="vendeur.phone" required placeholder="Contact *" ></ion-input>
    </ion-item>

    <ion-button expand="block" shape="round" type="submit" [disabled]="isLoading==true" (click)="createUser()" (keydown.enter)="createUser()">Valider
      <ion-spinner name="lines" *ngIf="isLoading"></ion-spinner>
    </ion-button>
  </ion-grid>
</ion-content>
