/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/fonts.scss";

ion-content{
  --background: #f5f5f3;
}


.empty-cart{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c7c7c7;

  ion-icon{
    font-size: 8rem;
  }
  p{
    font-size: 1.8rem;
  }
}


ion-toolbar{
  --background: #f5f5f3;
  ion-icon{
    font-size: 25px;
    font-weight: bold;
  }
  .title {
    font-weight: 700;
    color: #1f1f1f;
    margin-bottom: 2rem;
    padding-left: 1.6rem;
  }
  ion-badge{
    --background: transparent;
    --padding-bottom: 25px;
    --padding-top: 0px;
    --padding-start: 0px;
    color: #151515;
  }
}
ion-searchbar{
  .searchbar-input-container{
    input{
      padding-top: 14px!important;
      padding-bottom: 12px!important;
      font-size: 18px!important;
    }
    .searchbar-search-icon{
      top:15px!important;
      width: 25px;
      height: 25px;
    }
  }
}
ion-fab{
  ion-fab-button{
    ion-badge{
      --background: transparent;
      --padding-bottom: 25px;
      --padding-top: 0px;
      --padding-start: 0px;
      color: #ffb800;

    }
  }
}
