<ion-content>
  <h3 class="title" *ngIf="authenService.utilisateur.cart.cartItems.length" >{{authenService.utilisateur.cart.cartItems.length}}</h3>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let i of authenService.utilisateur.cart.cartItems">
      <ion-item>
        <div class="cart-item">
          <div class="image">
            <ion-img [src]="i.produit.image"></ion-img>
          </div>
          <div class="description">
            <h3>{{i.description}}</h3>
            <p>{{i.montant}}<sup>Fcfa</sup></p>
          </div>

          <div class="actions">
            <ion-buttons>
              <ion-button (click)="ajouter(i.produit)">
                <ion-icon slot="ion-only" name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
            <div class="counter">{{i.quantite}}</div>
            <ion-buttons>
              <ion-button (click)="remove_qty(i.produit)">
                <ion-icon slot="ion-only" name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option>
          <ion-icon name="trash-outline" size="large" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>

</ion-content>
