<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h3 class="title" *ngIf="cartService.count_cart>0" >{{cartService.count_cart}} vers au panier</h3>
    <ion-buttons slot="end" class=" ion-margin-horizontal">
      <ion-icon name="heart-outline" color="danger" slot="icon-only"></ion-icon>
      <ion-badge>{{favoriteService.nb_favorite}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let i of authenService.utilisateur.cart.cartItems">
      <ion-item>
        <div class="cart-item">
          <div class="image">
            <ion-img [src]="i.produit.image"></ion-img>
          </div>
          <div class="description">
            <h3>{{i.description}}</h3>
            <p>{{i.montant}}<sup>Fcfa</sup></p>
          </div>

          <div class="actions">
            <ion-buttons>
              <ion-button shape="round" (click)="ajouter(i)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
            <div class="counter">{{i.quantite}}</div>
            <ion-buttons>
              <ion-button shape="round" (click)="remove_qty(i)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option>
          <ion-icon (click)="delete_round(i)" name="trash-outline" size="large" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-button class="buttom" expand="block" [disabled]="is_loading==true" (keydown.enter)="goToAdresse()" (click)="goToAdresse()" *ngIf="cartService.count_cart>0">
    Total: <span>{{authenService.utilisateur.cart.montanttotal}}<sup>Fcfa</sup></span>
    <ion-spinner name="lines" *ngIf="is_loading"></ion-spinner>
  </ion-button>

  <ion-button color="danger" class="buttom" expand="block" [disabled]="cartService.is_loarding_delect==true" (click)="cleanCart()" *ngIf="cartService.count_cart>0">
   Tout supprimer <ion-icon slot="end" name="trash-outline"></ion-icon>
    <ion-spinner name="lines" *ngIf="cartService.is_loarding_delect"></ion-spinner>
  </ion-button>
  <div class="empty-cart" *ngIf="!cartService.count_cart!=0">
    <ion-icon name="cart-outline"></ion-icon>
    <p>Votre panier est vide</p>
  </div>
</ion-content>
