<ng-container *ngIf="stockService.inventaireValidePage">
  <div id="faq">
    <ul>
      <li *ngFor="let i of stockService.inventaireValidePage.content, let index = index">
        <input (click)="findByInventaireid(i.idinventaire, index)" type="checkbox" checked>
        <i></i>
        <h5 class="custom-header-accordion">
          Initié le {{i.datecreation|date:"dd/MM/yy HH:mm"}} <br> Appliqué le {{i.dateapplication|date:"dd/MM/yy HH:mm"}}
          <br> Validé le: {{i.datevalidation|date:"dd/MM/yy HH:mm"}}
        </h5>
        <div class="custom-body-accordion">
          <div class="card-body">

            <div class="table-responsive">

              <table class="table table-striped table-bordered">
                <tbody>
                <tr>
                  <th>Produit</th>
                  <th>Physique</th>
                  <th>Theorique</th>
                  <th>difference</th>
                </tr>
                <tr *ngFor="let u of i.inventaireItemList ">
                  <td>{{u.produit.nomProduit}}</td>
                  <td>{{u.quantitephysique}}</td>
                  <td>{{u.quantitetheorique}}</td>
                  <td>{{u.difference}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-container>
